.more-section {
  margin-bottom: 8rem;
  background: $light-green;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.podcast-container, .first-book-container {
  display: flex;

  img {
    width: 10rem;
    object-fit: cover;
    margin-right: 4rem;
  }
  a {
    background: $secondary-green;
  }
  p {
    font-weight: 300;
  }
}

.podcast-info, .first-book-info {
  max-width: 14.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wave {
  width: 100%;
  transform: translateY(-8.5rem);
}


// Media Queries

@media screen and (max-width: 1150px) {
  .more-section {
    flex-direction: column;
  }
  .podcast-container {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 400px) {
  .podcast-container, .first-book-container {
    flex-direction: column;

    img {
      margin: 0;
      margin-bottom: 2rem;
    }
    p {
      margin: 1.2rem 0;
    }
  }
}